<h1 id="flight-no">Flight No:  {{result.id}}</h1>
<h3 id="departure">Depart at {{result.flights[0].offset}}</h3>
<h3 id="arrival">Arrive around {{result.flights[result.flights.length-1].offset + result.flights[result.flights.length-1].flightTime}}</h3>
<div class="flight-grouping" ng-repeat="x in result.flights">
  <h2 class="stop-no">Stop Number {{$index + 1}}</h2>
  <p class="details">
    Depart at {{x.offset}}; Flight Length: {{x.flightTime}} <br />You will be leaving from {{x.origin}} and end up in {{x.destination}}.
  </p>
  <br />
</div>

<flight-map result=result></flight-map>

<br />
<br />
<p class="general-button" ng-click="flight.bookFlight(result.id)" id="book-now-btn">
  Book now!
</p>
