<div id="navigation-left">
  <p ng-click="navigation.button1()" class="nav-item">
    {{navigation.flightService.loggedIn ? "View Flights" : "Home"}}
  </p>
</div>
<div>
  <p>
    {{navigation.flightService.loggedIn ? "Welcome back!" : "Sign in to check out our flights"}}
  </p>
</div>
<div id="navigation-right">
  <p ng-click="navigation.button2()" class="nav-item">
    {{navigation.flightService.loggedIn ? "Profile" : "Sign Up"}}
  </p>
  <p ng-click="navigation.button3()" class="nav-item">
    {{navigation.flightService.loggedIn ? "Log Out" : "Log In"}}
  </p>
</div>
